*{
	margin: 0;
	padding: 0;
	font-family: Showcard Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;
	position: relative;

}
ul li{
	display: inline-block;
	width: 100px;
	height: 50px;
	opacity: .8;
	text-align: center;
}
ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
	display: block;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;

}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title{
	color: #fff;
	font-size: 35px;
    animation: title 3s 1;
}
.title h2{
	font-family: Agency FB;
	font-size: 28px;
	text-align: center;
}
@keyframes title{
	20%{
		letter-spacing: 1.2px;
		margin-bottom: -10px;
	}
}
