*{
	margin: 0;
	padding: 0;
	font-family: Showcard Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;
	position: relative;

}
ul li{
	display: inline-block;
	width: 100px;
	height: 50px;
	opacity: .8;
	text-align: center;
}
ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
	display: block;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;

}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 20%;
	left: 48%;
	transform: translate(-50%,-50%);

}
.title{
	color: #fff;
	font-size: 25px;
    animation: title 3s 1;
	
}
@keyframes title{
	10%{
		letter-spacing: 1.2px;
		margin-bottom: -10px;
	}
}
.slideshow{
	width: 700px;
	height: 400px;
	overflow: hidden;
}
.middle{
	position: absolute;
	top: 60%;
	left: 48%;
	transform: translate(-50%,-50%);
}
.navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.bar{
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
}
.bar:hover{
	background: #fff;
}
input[name="r"]{
	position: absolute;
	visibility: hidden;
}
.slides{
	width: 500%;
	height: 100%;
	display: flex;
}
.slide{
	width: 20%;
	transition: 0.6s;

}
.slide img{
	width: 100%;
	height: 100%;

}
#r1:checked ~ .s1{
	margin-left:0;
}

#r2:checked ~ .s1{
	margin-left:-20%;
}
#r3:checked ~ .s1{
	margin-left:-40%;
}
#r4:checked ~ .s1{
	margin-left:-60%;
}
#r5:checked ~ .s1{
	margin-left:-80%;
}